body{
    background-color: aqua;
    background-image: url(../img/1576090398_5-6.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.STYL1{
width: 100%;
margin: 0;
text-align: center;
color: #65d465;
font-size: 30px;
font-weight: 400;
font-family
}
.STYL1 p{margin: 32px auto 0 auto;
}